# vscode directories
**/.vscode/*
#  Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
# terraform config files
*.terraformrc
*terraformrc*
# tfvars file
terraform.tfvars
*.tfvars
# Terraform testing config files
**/examples/*/*.tf
.terraform.lock.hcl
.DS_Store
*.MIB
terragpio/client
terragpio/server
